<!DOCTYPE html>
　　<html>
　　<head>
    　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    　　　　<title>{{ page.title }}</title>
    <style>
        .top-item li{
            line-height: 30px;
        }
    </style>
    　　</head>
　　<body>

　　　　{{ content }}
<footer>网站由<a href="http://github.com/houyhea">船夫</a>维护。</footer>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260609393'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260609393' type='text/javascript'%3E%3C/script%3E"));</script>
　　</body>
　　</html>